{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">    


    <body style="background-color:black;">
    <h1 style="color:white;"> {{ movie.title }}  ({{ movie.year }}) </h1>
    <p style="color:white;"> {{ movie.genre }} | released on: {{movie.released}}</p><br></br>
    <div>
      <div class="col-sm-4">
        <img src={{movie.poster}} alt={{movie.title}}>
      </div>
      <div class="col-sm-17">
        <p style="color:white;">Directed by: {{movie.director}}</p>
        <p style="color:white;">Written by: {{movie.writer}}</p>
        <br>
        <p style="color:white;">Cast by: {{movie.actors}}</p>
        <br>
        <div class="col-sm-20" style="color:white;">
          Plot:
          <br>
          {{ movie.plot }}
        </div> <br>
        <p style="color:white;">Ratings: </p>
        <div><a>
          <span><p style="color:white;"> {{ movie.ratings.0.Source }}: {{ movie.ratings.0.Value }} </p></span>
        </a></div>
        <p style="color:white;"> {{ movie.ratings.1.Source }}: {{ movie.ratings.1.Value }} </p>
        <p style="color:white;"> {{ movie.ratings.2.Source }}: {{ movie.ratings.2.Value }} </p>
        <br>
        <div style="color:white;">Website:
          <a href={{movie.website}}>{{movie.website}}</a>
        </div>
      </div>
    </div>

    <br>
    <div class="box">
        {% if added %}
        <button class="btn btn-success" disabled> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>



</div>
{% endblock %}
