{% extends "lab_8/layout/base.html" %}

{% block content %}
    <div id="lab8">
        <button class="Login button" onclick="facebookLogin()">Login with Facebook</button>
    </div>

    <div id="feedContainer">
        
    </div>


{% endblock %}
