body{
    background: lightblue;
}

.cover{
  border-radius: 10px;
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  z-index: 1;
  position:relative;
  overflow:hidden;
}

.picture{
  border-radius: 100%;
  display: block;
  position: relative;
  top: -100px;
  margin: auto;
  width: 25%;
  z-index: 2;
  top: 25px;
  margin: -140px auto 10px auto;
  z-index:999;
}
.name{
  text-align: center;
}
.about{
  font-style: italic;
  font-size: 20px;
  text-align: center
}

.feed {
  margin: 20px;
  flex-direction: column-reverse;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.feed:hover {
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.4);
    transition: all ease 0.5s;
    background-color: rgba(0, 0, 0, 0.03);
    border: 2px solid white;

}
.email{
  text-align: center;
}

.buttons{
  margin-left: 36.5%;
}
